a, h1, h2, h3, h4, h5, div, img, i, p, span {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: $grey-1;
}

.hidden {
  display: none !important;
}

.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}
