@import './_variables.scss';
@import './_theme.scss';
@import './_styles.scss';

$card-title-size: 14px;
$card-title-line-height: $card-title-size + 6px;

$card-height: 350px;
  
@mixin my-transition($attribute, $time) {
  -webkit-transition: $attribute $time; 
  -moz-transition: $attribute $time; 
  -ms-transition: $attribute $time; 
  -o-transition: $attribute $time; 
  transition: $attribute $time;  
}

%disable-selection {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Safari */
    -khtml-user-select: none;    /* Konqueror HTML */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently supported by Chrome and Opera */
}

.carousel-icon {
  border-radius: 10px;
  color: white;
  font-size: 38px;
  margin-right: 15px;
  padding: 5px 10px;
}
.carousel-header-container {
  display: inline-block;
}
.carousel-title {
  display: block;
  font-size: 20px;
  margin-bottom: 4px;
}
.carousel-subtitle {
  display: block;
  color: $grey-4;
  font-size: 14px;
}

.carousel-cards-container {
  position: relative;
}
.carousel-arrow {
  align-items: center;
  background-color: rgba(128,128,128,0.8);
  cursor: pointer;
  display: flex;
  height: $card-height + 2px;
  margin: 20px 0 0 0;
  justify-content: center;
  position: absolute;
  width: 60px;
  top: 10px;
  z-index: 2;
    
  & span {
    color: white;
    font-weight: bold;
    font-size: 30px;
      
    @extend %disable-selection;
  }
  
  &.carousel-arrow-left {
    left: 5px;
  }

  &.carousel-arrow-right {
    right: 5px;
  }
}
  
.carousel-cards {
  list-style: none;
  overflow:hidden;
  -webkit-overflow-scrolling:touch;
  padding: 25px 0;
  position: relative;
  white-space: nowrap;
}

.carousel-card {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid $grey-2;
  background-color: white;
  display: inline-block;
  height: $card-height;
  margin: 5px;
      
  &:not(.carousel-card-placeholder):hover {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    transform: scale(1.1);
    z-index: 1;
    @include my-transition(transform, 0.2s);
  }
    
  & span, p {
     @extend %disable-selection;
  }
}

.carousel-card-image {
  align-items: flex-end;
  background-size: 100% 100%;
  display: flex;
  height: 150px;
  justify-content: space-between;
  position: relative;
        
  & span {
    background-color: rgba($grey-3, 0.7);
    color: white;
    padding: 5px;
  }
}
.carousel-image-overlay {
  align-items: center;
  background-color: black;
  display: flex;
  height: 0;
  justify-content: center;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
          
  @include my-transition(height, 0.2s);
}
.carousel-image-overlay-btn {
  color: white;
  cursor: pointer;
}
.carousel-card-duration {
  display: none;
  overflow: hidden;
}

.carousel-card-title-container {
  padding: 10px;
}
        
.carousel-card-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  white-space: normal;
  font-size: $card-title-size;
  line-height: $card-title-line-height;
  height: 2 * $card-title-line-height;
}

.carousel-card-multiple {
  position: relative;
        
  /*
   *  Create the stacked cards
   */
  &:before, &:after {
    background: white;
    border: 1px solid $grey-2;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    bottom: -5px;
    content: '';
    display: block;
    height: 2.5px;
    left: 0px;
    margin: 0 2.5%;
    position: absolute;
    width: 95%;
  }
  
  &::before {
    bottom: -5px;
    margin: 0 2.5%;
    width: 95%;
  }
        
  &::before {
    bottom: -10px;
    margin: 0 5%;
    width: 90%;
  }
}

.carousel-card-placeholder {
  & .carousel-card-image, .carousel-card-type, .carousel-card-duration, .carousel-card-title {
    background-color: $grey-3 !important;
    color: transparent !important;
    overflow: hidden;
    position: relative;
  }
  
  /*
   *  Create the wave effect
   */
  & .carousel-card-image, .carousel-card-title {
    &::after {
      animation: shimmer 2s infinite;
      background: initial;
      background-image: linear-gradient(
        90deg,
        rgba(#fff, 0) 0,
        rgba(#fff, 0.2) 20%,
        rgba(#fff, 0.5) 60%,
        rgba(#fff, 0)
      );
      bottom: 0;
      content: '';
      height: initial;
      left: 0;
      position: absolute;
      right: 0;
      width: initial;
      top: 0;
      transform: translateX(-100%);
    }

    @keyframes shimmer {
      100% {
        transform: translateX(100%);
      }
    }
  }
}


/*
 *  Mobile first: 
 */
@media only screen and (min-width: 768px) {
  .carousel-card-duration {
    display: block;
  }
}

